

<a href="/auth/signup" class="btn btn-info">Signup</a>
<a href="/auth/login" class="btn btn-info">Login</a>
<a href="/auth/logout" class="btn btn-info">Logout</a>
<a href="/profile" class="btn btn-info">Profile</a>


<h2>Now Playing</h2>

<div class="well player">

<audio controls>
  <source src="http://live-aacplus-64.kexp.org/kexp64.aac" type="audio/mp4" />
</audio>

<h3> <%= currentSong.Artist.Name %> - <%= currentSong.Track.Name %></h3>
</div>

<div class="row">
<div class="col-md-8">
  <div class="well">
  <% recentPlays.Plays.forEach(function(song){ %>
  <% if(song.Artist) { %>
  <h4> <a href="#" data-song="<%= song.CreatedDate %>" data-track="<%=  song.Artist.Name %> - <%=  song.Track.Name %>" class="btn btn-danger fav-this-song"> <i class="fa fa-heart"></i> </a>  <%=  song.Artist.Name %> - <%=  song.Track.Name %> </h4>

  <hr>
   <% } %>
  <% }); %>
  </div>

</div>

  <div class="col-md-4">
    <div class="well recent-favs">
      <h4>recent favs go here</h4>
      <% if(favorites.length >= 1) {%>
      <% favorites.forEach(function(song){ %>
        <p><%= song.trackTitle %> - <%= song.trackArtist %>  </p>
      <% }); %>
      <% } %>
    </div>
  </div>
</div>


